<a href="https://colab.research.google.com/github/ayush0f/ML_PROJECTS/blob/main/dataparsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
!pip install beautifulsoup4 lxml
from bs4 import BeautifulSoup

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (5.3.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.12.2)

In [2]:
file_paths = {
    "table_9": "/content/data parsing/table_12.html",
    "table_12": "/content/data parsing/table_12.html",
    "table_62": "/content/data parsing/table_62.html"
}

In [3]:
def parse_html_table(file_path, table_name):
    with open(file_path, "r", encoding="utf-8") as file:
        soup = BeautifulSoup(file, "html.parser")
        table = soup.find("table")

In [13]:
def parse_html_table(file_path, table_name):
    with open(file_path, "r", encoding="utf-8") as file:
        soup = BeautifulSoup(file, "html.parser")
        table = soup.find("table")
    data = []
    if table:
        rows = table.find_all("tr")
        headers = [th.get_text(strip=True) for th in rows[0].find_all("th")] if rows else []

        for row in rows[1:]:  # Skip headers
            cols = row.find_all("td")
            row_data = [col.get_text(strip=True) for col in cols]
            if row_data:
                data.append(row_data)
    return headers, data # Indentation corrected here as well to align with the function definition

In [14]:
parsed_data = {}
for name, path in file_paths.items():
    headers, data = parse_html_table(path, name)
    parsed_data[name] = {"headers": headers, "data": data}

In [16]:
display(parsed_data)

{'table_9': {'headers': [],
  'data': [['', '', '', '', 'Three months ended March 31'],
   ['In millions', '', '', '', '', '', '2022', '', '2021'],
   ['Net cash provided by operating activities',
    '',
    '',
    '',
    '',
    '',
    '$',
    '570',
    '',
    '',
    '$',
    '952',
    ''],
   ['Net cash used in investing activities',
    '',
    '',
    '',
    '',
    '',
    '(101)',
    '',
    '',
    '(413)',
    ''],
   ['Net cash provided before financing activities',
    '',
    '',
    '',
    '',
    '',
    '469',
    '',
    '',
    '539',
    ''],
   ['Adjustment:Cash income taxes for merger transaction-related payments and cash receipts(1)',
    '',
    '',
    '',
    '',
    '',
    '102',
    '',
    '',
    '—',
    ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['Free cash flow',
    '',
    '',
    '',
    '',
    '',
    '$',
    '571',
    '',
    '',
    '$',
    '539',
    '']]},
 'table_12': {'headers': [],
  'data': [['', '', '', '', 'Three months ended March 31'],
   ['In millions', '', '', '', '', '', '2022', '', '2021'],
   ['Net cash provided by operating activities',
    '',
    '',
    '',
    '',
    '',
    '$',
    '570',
    '',
    '',
    '$',
    '952',
    ''],
   ['Net cash used in investing activities',
    '',
    '',
    '',
    '',
    '',
    '(101)',
    '',
    '',
    '(413)',
    ''],
   ['Net cash provided before financing activities',
    '',
    '',
    '',
    '',
    '',
    '469',
    '',
    '',
    '539',
    ''],
   ['Adjustment:Cash income taxes for merger transaction-related payments and cash receipts(1)',
    '',
    '',
    '',
    '',
    '',
    '102',
    '',
    '',
    '—',
    ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['', '', '', '', '', '', '', '', ''],
   ['Free cash flow',
    '',
    '',
    '',
    '',
    '',
    '$',
    '571',
    '',
    '',
    '$',
    '539',
    '']]},
 'table_62': {'headers': [],
  'data': [['',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '2027 & thereafter'],
   ['In millions',
    'Total',
    '',
    '2022',
    '',
    '2023',
    '',
    '2024',
    '',
    '2025',
    '',
    '2026',
    ''],
   ['Debt obligations(1)',
    '$',
    '13,380',
    '',
    '',
    '$',
    '1,495',
    '',
    '',
    '$',
    '220',
    '',
    '',
    '$',
    '471',
    '',
    '',
    '$',
    '384',
    '',
    '',
    '$',
    '661',
    '',
    '',
    '$',
    '10,149',
    ''],
   ['Interest on debt obligations',
    '9,056',
    '',
    '',
    '328',
    '',
    '',
    '483',
    '',
    '',
    '476',
    '',
    '',
    '462',
    '',
    '',
    '443',
    '',
    '',
    '6,864',
    ''],
   ['Finance lease obligations',
    '3',
    '',
    '1',
    '',
    '',
    '0',
    '',
    '0',
    '',
    '0',
    '',
    '2',
    '',
    '0'],
   ['Operating lease obligations(2)',
    '468',
    '',
    '91',
    '',
    '100',
    '',
    '73',
    '',
    '60',
    '',
    '40',
    '',
    '104'],
   ['Purchase obligations(3)',
    '1,654',
    '',
    '',
    '1,178',
    '',
    '',
    '253',
    '',
    '',
    '111',
    '',
    '',
    '106',
    '',
    '',
    '1',
    '',
    '',
    '5',
    ''],
   ['Other long-term liabilities(4)',
    '657',
    '',
    '',
    '74',
    '',
    '',
    '51',
    '',
    '',
    '43',
    '',
    '',
    '41',
    '',
    '',
    '33',
    '',
    '',
    '415',
    ''],
   ['Total contractual obligations',
    '$',
    '25,218',
    '',
    '',
    '$',
    '3,167',
    '',
    '',
    '$',
    '1,107',
    '',
    '',
    '$',
    '1,174',
    '',
    '',
    '$',
    '1,053',
    '',
    '',
    '$',
    '1,180',
    '',
    '',
    '$',
    '17,537',
    '']]}}

In [17]:
structured_data = []

In [18]:
for table_name, table_info in parsed_data.items():
    headers = table_info["headers"]
    data = table_info["data"]

    for row in data:
        row_dict = {"filename": table_name}

        # Map each column to its respective header
        for i, value in enumerate(row):
            if i < len(headers):
                column_name = headers[i]
            else:
                column_name = f"Column {i+1}"  # Fallback for missing headers

            row_dict[column_name] = value

        structured_data.append(row_dict)

In [19]:
df = pd.DataFrame(structured_data)

In [21]:
excel_path = "/content/drive/MyDrive/Classroom/parsed_data.xlsx"
df.to_excel(excel_path, index=False)

In [24]:
print(excel_path)

/content/drive/MyDrive/Classroom/parsed_data.xlsx